@import url(https://fonts.googleapis.com/css?family=Lato=300,400,700|PT++Mono);

:root{
    --primary-color: rgb(105, 126, 245);
    --secondary-color: rgba(151, 146, 146, 0.788);
    --tirtnary-color: rgb(207, 204, 204);
}

body{
    background-color: var(--primary-color);
    font-size: 15px;
    font-family: Lato,sans-serif;
}

#container{
    height: 550px;
    width: 380px;
    margin: 100px auto;
    background: var(--tirtnary-color);
    box-shadow: 5px 5px 5px var(--secondary-color);
    border-radius: 20px;
}

.title{
    background: var(--secondary-color);
    border-bottom: 5px;
    padding: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

.tipsForm{
    padding-left: 20px;
}

.formInput{
  background: white;
  width: 40px;
  padding: 5px 5px 8px 8px;
}

.formInput:focus{
    border: 5px solid var(--primary-color);
    outline:none;
}

.formSelect{
    width: 180px;
    padding: 5px;
    font-size: 12px;
}

.formSubmit{
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    background: var(--primary-color);
    border-radius: 15px;
    width: 100px;
    height: 30px;
    color: white;
}